@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g6qik');
  src:  url('fonts/icomoon.eot?g6qik#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g6qik') format('truetype'),
    url('fonts/icomoon.woff?g6qik') format('woff'),
    url('fonts/icomoon.svg?g6qik#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icomoon, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-OURA_Symbol_Black_RGB:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e950";
}
